@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --color-primary: #561C24;
  --color-secondary: #6D2932;
  --color-neutral: #C7B7A3;
  --color-error: #E8D8C4;
  }

body {
  color: var(--color-primary);
  font-family: "Gilda Display", serif;
  margin: 20%;
}

.header-nav {
  padding: 1.2em;
  background-color: var(--color-neutral);
  border-radius: 1.2em;
  box-shadow: 3px 8px 12px rgba(0, 0, 0, 0.25);
}

.hero{
  color: var(--color-primary);
  /* box-shadow: 3px 8px 12px rgba(0, 0, 0, 0.25); */
}

.hero-text{
  
}


@media (max-width: 640px) {
  .hero{
    display: flex;
    flex-direction: column;
  }  
}